@namespace LocalGPT.Components.Layout﻿﻿
@rendermode InteractiveServer
<div>
    <ToastWrapper Name="LoginDisplayToasts" />
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu menu-item" ItemsStretched="true" SizeMode="SizeMode.Large" Title="Navigation">
        <Items>
            <DxMenuItem NavigateUrl="/" Stretched="true" Text="Home"  CssClass="menu-item"  IconCssClass="icon home-icon"></DxMenuItem>
            <DxMenuItem NavigateUrl="/Chat" Stretched="true" Text="AI Chat Module" CssClass="menu-item" IconCssClass="icon aichat-icon"></DxMenuItem>
            <DxMenuItem NavigateUrl="/install" Stretched="true" Text="Install" CssClass="menu-item" IconCssClass="icon installation-icon"></DxMenuItem>

        </Items>
    </DxMenu>
</div>