@import url('open.iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


html, body {
    height: 100%;
    overflow: hidden;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}
.goodsvisiblemenu-button {
    width: 140px;
    height: 40px;
    color: white; /* Or any color */
    background-color: #007bff;
    mask-image: url('images/menubutton.svg');
    -webkit-mask-image: url('images/menubutton.svg');
}
.invalid {
    outline: 1px solid red;
}
.buttonfullwidth {
    display: block; /* Make the button behave like a block element */
    width: 100%; /* Make the button take 100% of its parent container's width */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 10px; /* Optional: space between buttons */
    color: var(--bs-white);
}
.validation-message {
    color: red;
}

.button-link {
    text-decoration: unset;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
:root {
    --panel-width: 100%;
}

@media (min-width: 768px) {
    :root {
        --panel-width: 400px;
    }
}

@media (min-width: 1200px) {
    :root {
        --panel-width: 600px;
    }
}

